

body {
    background-color: burlywood;
    text-align: center;

}
#home-link {
    display: inline-block;
    margin: 5px;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 668px;
    width: auto;
}

h1, #text {
    font-family: "Monaco", Arial, Helvetica, monospace ;
}

#list-container {
    text-align: center;
}

ul, ol {
    font-family: "Copperplate", "Brush Script MT", monospace;
    display: inline-block;
    text-align: justify;
    padding: 50px;
    padding-left: 355px;
    padding-right: 355px;
}

li {
    display: inline-block;
    padding: 20px;
}